numpy==1.22.4
torch==2.11.0
scipy==1.7.3
pandas
tensorboard==2.4.1
flake8==3.3.0
pep8-naming==0.4.1
scikit-learn
pytest==3.2.1
ray
ray[tune]
tabulate==0.8.9
hyperopt==0.2.5
protobuf==3.20.0
tqdm==4.60.0
fastdtw==0.3.4
networkx==2.5.1
gensim
nltk==3.2.4
statsmodels==0.13.1
tslearn==0.5.2
pwlf==2.5.2